
<%="Player 1 is #{$player1.name} / HP: #{$player1.hp}"%>

<br></br>

<%="Player 2 is #{$player2.name} / HP: #{$player2.hp}"%>

<br></br>

<form action= "/attack" method="post">
<input type="submit" value="Attack!">
</form>

<% if session[:display] %>
<p>-20 HP!</p>
<p><%= "#{$player2.name} has been attacked! It's super effective!" %></p>
<% session[:display] = false %>
<% end %>
